#app-main {
  font-family: 'Hack', monospace;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
  display: flex;
  flex-grow: 1;
}

#app {
  margin: 0 auto;
  text-align: center;
  align-content: center;
  justify-content: center;
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

/* fade in */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(1em);
  }
  60% {
    transform: translateY(-0.2em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-info > * {
  animation: fade-in 0.2s ease-in;
}

.main-info {
  text-align: center;
}

@media (min-width: 1150px) {
  .main-info {
      margin-top: 72px;
  }
}

.main-info-image {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  margin: 6px 6px 6px 6px;
}

.main-info-title {
  font-size: 42pt;
}

.main-info-subtitle {
  font-size: 26pt;
  font-style: italic;
  color: #5c6370;
}

.quiet {
  color: var(--color-gray);
  font-style: italic;
}

.section {
  font-size: 22pt;
}

.highlight {
    color: #e5c07b;
}

.back-shadows {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--color-bg) 10%, var(--color-bg) 90%, rgba(0, 0, 0, 0) 100%);
}

#animated-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}


@media (max-width: 480px) {
  .back-shadows {
      margin: auto;
      max-width: 80%;
  }
  .main-info-title {
    font-size: 32pt;
  }

  .main-info-subtitle {
    font-size: 18pt;
  }
}

@media (max-width: 1150px) and (min-width: 480px) {
  .back-shadows {
      margin: auto;
      max-width: 60%;
  }
  .main-info-title {
    font-size: 42pt;
  }

  .main-info-subtitle {
    font-size: 26pt;
  }
}

@media (min-width: 1150px) {
  .back-shadows {
      margin: auto;
      max-width: 50%;
  }
  .main-info-title {
    font-size: 42pt;
  }

  .main-info-subtitle {
    font-size: 26pt;
  }
}


@media (max-width: 480px) {
  .about-paragraph {
      margin: auto;
      font-size: 16pt;
      max-width: 90%;
  }
}

@media (max-width: 1150px) and (min-width: 480px) {
  .about-paragraph {
      margin: auto;
      font-size: 18pt;
      max-width: 80%;
  }
}

@media (min-width: 1150px) {
  .about-paragraph {
      margin: auto;
      font-size: 18pt;
      max-width: 60%;
  }
}
