.code-block {
  text-align: left;
  background-color: #161f30;
  border: 2px solid #2a3a4f;
  border-radius: 8px;
  padding: 2px;
  margin: 8px;
  font-family: Hack, monospace;
  font-size: 10pt;
  overflow-x: auto;
}

code {
  font-family: monospace;
  font-size: 14pt;
}

blockquote {
  border-left: 4px solid #2a3a4f;
  padding-left: 8px;
  margin-left: 8px;
  font-style: italic;
}

td.line-number {
  text-align: right;
  padding-right: 5px;
  color: #647089;
}

.post-description {
  text-align: justify;
  font-style: italic;
  color: #647089;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
}

.post-date {
  text-align: right;
  font-style: italic;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
}

.post-content {
  text-align: justify;
  margin: 0 auto;
  max-width: 800px;
}

.post-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 2px solid #2a3a4f;
  margin: auto 0;
}

.post-content p:has(img) {
  text-align: center;
}

.blog-post-header {
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
}

.blog-post-title {
  font-size: 24pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.blog-post-date {
  font-size: 12pt;
  font-style: italic;
  color: #647089;
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  .post-content {
      margin: auto;
      max-width: 96%;
  }
}

@media (max-width: 1150px) and (min-width: 480px) {
  .post-content {
      margin: auto;
      max-width: 80%;
  }
}

@media (min-width: 1150px) {
  .post-content {
      margin: auto;
      max-width: 60%;
  }
}
